{% extends "blog/base.html" %}
{% load crispy_forms_tags %}
{% block content %}
 <div id="divLinks">
<main role="main" class="container">
      <div class="row">
        <div class="col-md-5" style="top: 100px;left:300px; " >

            
    <div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Login</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Login</button>
              
                    <a style="font-size: 15px;" href="{% url 'password_reset' %}">Forgot Password?</a>
                
            </div>
        </form>
        <div class="border-top pt-2">
            
                Need An Account? <a style="font-size: 15px;" href="{% url 'register' %}">Sign Up Now</a>
            </small>
        </div>
    </div>
</main>
{% endblock content %}
